.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  align-items: center;
}

.App-logo {
  height: 40px;
  margin-right: 20px;
}

.App-main {
  margin-top: 50px;
}